aioeasywebdav==2.4.0
aiohttp==3.5.4
appdirs==1.4.3
asn1crypto==0.24.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
bcrypt==3.1.6
beautifulsoup4==4.8.2
biograpy==1.0b0.dev0
biopython==1.76
bleach==3.3.0
bokeh==1.3.4
boto3==1.9.208
botocore==1.12.208
CacheControl==0.12.5
cachetools==2.1.0
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
colorama==0.4.3
colorspacious==1.1.2
ConfigArgParse==0.13.0
cryptography==2.7
cycler==0.10.0
dask==2.12.0
datrie==0.8
decorator==4.4.0
defusedxml==0.5.0
descartes==1.1.0
dill==0.3.0
distributed==2.12.0
docutils==0.14
dropbox==9.4.0
dynamicTreeCut==0.1.0
entrypoints==0.3
-e git+https://github.com/isshamie/coevolve.git@bc4c3761b24c3b922fb463f1fc56f4dbe065279e#egg=evcouplings&subdirectory=software/EVcouplings
filechunkio==1.8
filelock==3.0.12
ftputil==3.4
funcsigs==1.0.2
gitdb2==2.0.5
GitPython==3.0.0
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-core==1.0.3
google-cloud-storage==1.18.0
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
h5py==2.10.0
hdmedians==0.13
HeapDict==1.0.1
idna==2.8
importlib-metadata==0.18
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-core==4.4.0
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.1.3
jupyterlab-server==1.0.6
jupyterlab-templates==0.2.0
kiwisolver==1.1.0
llvmlite==0.29.0
lockfile==0.12.2
lxml==4.5.0
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mizani==0.6.0
mmtf-python==1.1.2
more-itertools==7.2.0
msgpack==0.6.1
multidict==4.5.2
multiprocess==0.70.8
natsort==6.0.0
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
notebook==6.0.0
numba==0.45.1
-e git+https://github.com/isshamie/parallel_helper@0aae037a540006eb2ed21fe3b5e6227e13d70ab0#egg=numpanpar
numpy==1.17.0
packaging==19.0
palettable==3.3.0
pandarallel==1.3.2
pandas==1.0.3
pandocfilters==1.4.2
paramiko==2.6.0
parso==0.5.1
pathos==0.2.4
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
plotnine==0.6.0
pluggy==0.12.0
pox==0.2.6
ppft==1.6.6.1
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyarrow==0.14.1
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
Pygments==2.4.2
pygpu==0.7.6
pygraphviz==1.5
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
pysftp==0.2.9
PySocks==1.7.0
pytest==5.1.0
python-dateutil==2.8.0
python-dotenv==0.10.3
python-irodsclient==0.7.0
python-louvain==0.13
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.0.2
qtconsole==4.5.2
ratelimiter==1.2.0
ray==0.8.0
redis==3.4.1
requests==2.22.0
rsa==3.4.2
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
s3transfer==0.2.1
sarge==0.1.5.post0
scikit-bio==0.5.5
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
smmap2==2.0.5
snakemake==5.5.4
sortedcontainers==2.1.0
soupsieve==2.0
SQLAlchemy==1.3.7
-e git+https://github.com/isshamie/coevolve.git@bc4c3761b24c3b922fb463f1fc56f4dbe065279e#egg=src
statsmodels==0.10.1
tblib==1.6.0
terminado==0.8.2
testpath==0.4.2
Theano==1.0.4
toolz==0.10.0
tornado==6.0.3
tqdm==4.33.0
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0
xmlrunner==1.7.7
xmltramp2==3.1.1
yapf==0.28.0
yarl==1.3.0
zict==2.0.0
zipp==0.5.2
